body{
    background-color: rgb(48, 48, 48);
}


.container{
    margin: 30px auto 0 auto;
    width: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titles{
    margin: 20px 0 0 0 ;
    width: 50%;
    height: 60px;
    overflow: hidden;
}
.title{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:rgb(158, 112, 187);
    transition: all 0.3s;

}


.slide__bar{
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 500px;
    overflow: hidden;
    border: 6px solid rgb(133, 95, 157) ;
    border-radius: 20px;
}




.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: all 0.4s;
}

.slide img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.nav{
    padding: 30px 0 0 0;
    display: flex;
    gap: 8px;
}
.btn{
    width: 20px;
    height: 20px;
    border-radius: 20%;
    opacity: 0.8;
    transition: all 0.3s;
    z-index: 2;
    float: right;
    padding: 10px;
    align-items: center;
}

.btn:hover{
    transform: scale(1.3);
    transform-origin: bottom;
    transition: all 0.3s;
    opacity: 0.9;
    cursor: pointer;
}
.label{
    margin: 0 auto;
    width: 10px;
    height: 10px;
    border-radius: 20%;
    background-color: rgb(191, 191, 191);
    opacity: 1;
    transition: all 0.3s;
    z-index: 2;
    float: right;
    padding: 5px;
}




.slide1{
    width: 45%;
}

.slide2{
    width: 30%;
}

.slide3{
    width: 20%;
}

.slide4{
    width: 20%;
}
.slide5{
    width: 20%;
}


input[name="radio"] {
    position: absolute;
    visibility: hidden;
}


#radio1:checked ~ .wrapper>.slide__bar>.slides>.slide1 {
    margin-left: 40%;
}
#radio2:checked ~ .wrapper>.slide__bar>.slides>.slide1 {
    margin-left: 10%;
}
#radio3:checked ~ .wrapper>.slide__bar>.slides>.slide1 {
    margin-left: -35%;
}
#radio4:checked ~ .wrapper>.slide__bar>.slides>.slide1 {
    margin-left: -55%;
}
#radio5:checked ~ .wrapper>.slide__bar>.slides>.slide1 {
    margin-left: -75%;
}

#radio1:checked ~ .wrapper>.nav>#btn1>#label1 {
    background-color: rgb(158, 112, 187);
}
#radio2:checked ~ .wrapper>.nav>#btn2>#label2 {
    background-color: rgb(158, 112, 187);
}
#radio3:checked ~ .wrapper>.nav>#btn3>#label3 {
    background-color: rgb(158, 112, 187);
}
#radio4:checked ~ .wrapper>.nav>#btn4>#label4 {
    background-color: rgb(158, 112, 187);
}
#radio5:checked ~ .wrapper>.nav>#btn5>#label5 {
    background-color: rgb(158, 112, 187);
}


.link__title{
    width: 18px;
    height: 18px;
    text-decoration: none;
}





#radio1:checked ~ .wrapper>.titles>.title1 {
    margin-top: 0;
}
#radio2:checked ~ .wrapper>.titles>.title1 {
    margin-top: -17.5%;
}
#radio3:checked ~ .wrapper>.titles>.title1 {
    margin-top: -35%;
}
#radio4:checked ~ .wrapper>.titles>.title1 {
    margin-top: -52.7%;
}
#radio5:checked ~ .wrapper>.titles>.title1 {
    margin-top: -71%;
}


